<% if @test_passage.success? %>
  <h1><font color="green"><%= t('.success') %></font></h1>
<% else %>
  <h1><font color="red"><%= t('.fail') %></font></h1>
<% end %>
<%= link_to t('.back_to_tests'), tests_path %>