<footer class="footer">
  <p>
  <ul>
    <li>
      <strong>Year:</strong>
      <%= current_year %>
    </li>

    <li>
      <strong>Author:</strong>
      Rustam-ki
    </li>

    <li>
      <strong>Github:</strong>
      <%= github_url('Rustam-ki', 'ror-2.7.3') %>
    </li>

    <li>
      <strong>Link:</strong>
      <%= link_to 'Учебный проект в онлайн - школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
    </li>
  </ul>
  </p>
</footer>