<% unless user_signed_in? %>
  <h1><%= link_to t('.header'), root_path %></h1>

<% else %>
  <p><%= t('helpers.welcome') %> <%= current_user.email %></p>
  <%= link_to t('helpers.logout'), session_path(session), method: :delete %>
<% end %>